body{
    background-color: #eaf6f6;
}
hr{
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    height: auto;
    border-color: grey;
    border-width: 5px;
}
h1,h3{
    color: #66bfbf;
}
a:hover{
    color: white;
    background-color: blue;
}